/*
  Pragmatic JavaScript
  Chapter 4
  Programming Assignment

  Author: Scott Green
  Date: December 13, 2024
  Filename: styles.css
*/

/* Add your styles here */


input {
    background-color: blue;
    color: white;
}

h2 {
  background-color: blue;
  color: white;
  text-shadow: 1px 1px;
}

p {
  color: black;
  font-family: "Quicksand", serif;
}

body {
  background-color: aqua;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}